<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cemetery -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="cemetery.presentation.CemeteryModelWizardID"
            name="%_UI_CemeteryModelWizard_label"
            class="cemetery.presentation.CemeteryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CemeteryModelFile.gif">
         <description>%_UI_CemeteryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cemetery -->
      <editor
            id="cemetery.presentation.CemeteryEditorID"
            name="%_UI_CemeteryEditor_label"
            icon="icons/full/obj16/CemeteryModelFile.gif"
            extensions="cemetery"
            class="cemetery.presentation.CemeteryEditor"
            contributorClass="cemetery.presentation.CemeteryActionBarContributor">
      </editor>
   </extension>

</plugin>
